.header {
  display: none;
  @include respond(tab-land) {
    display: block;
  }
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10vh;

  ul {
    display: flex;
    justify-content: flex-start;
    list-style: none;
    padding-inline-start: 0;
    margin-block-start: 0;
    margin-block-end: 0;
  }

  &__pages {
    > li {
      margin-right: 1rem;
      text-decoration: none;
    }
  }

  &__social {
    > li {
      margin-left: 1rem;
    }
  }
}
