.header {
  display: none;

  @include respond(tab-land) {
    display: block;
    height: 6vh;
  }
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 6vh;

  ul {
    display: flex;
    justify-content: flex-start;
    align-items:center;
    list-style: none;
    padding-inline-start: 0;
    margin-block-start: 0;
    margin-block-end: 0;
  }

  &__pages {
    > li {
      margin-right: 1rem;
      text-decoration: none;
    }
  }

  &__social {
    > li {
      margin-left: 1rem;
    }
  }
}
