.heading-primary{
    font-family: 'Inter', sans-serif;
    background-image: linear-gradient(to right, $color-primary, $color-primary-dark);
    display: inline-block;
    background-clip: text;
    -webkit-background-clip: text;
    color:transparent;
}